networkproject.json
[
    {
        "id": "7433c24e984fadeb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3f0d7ca9d892da1",
        "type": "mqtt-broker",
        "name": "public broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f0aaab3d9367839",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0a2c4edfc3e534e3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54a1f395e1ec9abe",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e0f02fd37abe81f5",
        "type": "ui_group",
        "name": "Ultrasonic Readings",
        "tab": "0a2c4edfc3e534e3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cab3d7dab19dbba6",
        "type": "exec",
        "z": "7433c24e984fadeb",
        "command": "sudo python /home/mo/ultrasonic.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ultrasonic_front",
        "x": 640,
        "y": 300,
        "wires": [
            [
                "b72b56b7dba631e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "498fb91887932276",
        "type": "inject",
        "z": "7433c24e984fadeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "cab3d7dab19dbba6",
                "c6393df49b1d98c3"
            ]
        ]
    },
    {
        "id": "f6d926c032b1139e",
        "type": "debug",
        "z": "7433c24e984fadeb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 160,
        "wires": []
    },
    {
        "id": "c0558bd6599c56a5",
        "type": "pi-gpiod in",
        "z": "7433c24e984fadeb",
        "name": "",
        "host": "localhost",
        "port": 8888,
        "pin": "",
        "intype": "PUD_OFF",
        "debounce": "25",
        "read": false,
        "x": 140,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "c6393df49b1d98c3",
        "type": "exec",
        "z": "7433c24e984fadeb",
        "command": "sudo python /home/mo/ultrasonic2.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ultrasonic_rear",
        "x": 660,
        "y": 400,
        "wires": [
            [
                "cfc33ead72824a93"
            ],
            [],
            []
        ]
    },
    {
        "id": "bcf4c72094666b94",
        "type": "debug",
        "z": "7433c24e984fadeb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 380,
        "wires": []
    },
    {
        "id": "21d9441923cb4ea3",
        "type": "mqtt out",
        "z": "7433c24e984fadeb",
        "name": "",
        "topic": "ultrasonic",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f0aaab3d9367839",
        "x": 960,
        "y": 40,
        "wires": []
    },
    {
        "id": "084c6ac7ccefe52d",
        "type": "mqtt in",
        "z": "7433c24e984fadeb",
        "name": "",
        "topic": "ultrasonic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f0aaab3d9367839",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 720,
        "wires": [
            [
                "d252b1d8019a0f85"
            ]
        ]
    },
    {
        "id": "d252b1d8019a0f85",
        "type": "ui_gauge",
        "z": "7433c24e984fadeb",
        "name": "",
        "group": "e0f02fd37abe81f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "front_sensor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30009",
            "#e6e600",
            "#3acb52"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "b72b56b7dba631e1",
        "type": "function",
        "z": "7433c24e984fadeb",
        "name": "function 1",
        "func": "msg.payload = Number(msg.payload);\nif(msg.payload>100)\n{\n    msg.payload=100;\n    return msg;\n}\nelse\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 260,
        "wires": [
            [
                "f6d926c032b1139e",
                "21d9441923cb4ea3"
            ]
        ]
    },
    {
        "id": "cfc33ead72824a93",
        "type": "function",
        "z": "7433c24e984fadeb",
        "name": "function 2",
        "func": "msg.payload = Number(msg.payload);\nif(msg.payload>100)\n{\n    msg.payload=100;\n    return msg;\n}\nelse\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 400,
        "wires": [
            [
                "bcf4c72094666b94",
                "8b205f0ad2e6a2fc"
            ]
        ]
    },
    {
        "id": "8b205f0ad2e6a2fc",
        "type": "mqtt out",
        "z": "7433c24e984fadeb",
        "name": "",
        "topic": "ultrasonic_rear",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f0aaab3d9367839",
        "x": 1160,
        "y": 500,
        "wires": []
    },
    {
        "id": "5b543852a9fa1f8a",
        "type": "mqtt in",
        "z": "7433c24e984fadeb",
        "name": "",
        "topic": "ultrasonic_rear",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f0aaab3d9367839",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 840,
        "wires": [
            [
                "0d340b95a133d862"
            ]
        ]
    },
    {
        "id": "0d340b95a133d862",
        "type": "ui_gauge",
        "z": "7433c24e984fadeb",
        "name": "",
        "group": "e0f02fd37abe81f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "rear_sensor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30009",
            "#e6e600",
            "#3acb52"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 940,
        "wires": []
    }
]